.navbar-brand:hover {
    // background-color: transparentize(red, .95);
    background-color: red;
    text-decoration: none;
  }
.nav-link:hover {
    // background-color: transparentize(red, .95);
    color: red;
    text-decoration: none;
  }
